.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
